/* Mobile view */
@media screen and (max-width: 1023px) {

aside {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  background-color: goldenrod;
  flex-direction: column;
  background-image: url(http://www.transparenttextures.com/patterns/black-linen.png);
}

.userHexagon {
  width: 9em;
  height: 9em;
  margin-top: 7em;
  margin-bottom: -50px;
}

.user-name {
  display: flex;
  justify-content: center;
  margin-top: 1.25em;
}

};